.secret {
  &-text {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }

  &-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
}
